@charset "utf-8";
body {
	text-align: center;
	vertical-align: middle;
	height: 200px;
	width: 100%;
}
#botton{
	font-family: "方正姚体";
	font-size: 18px;
	width: 100%;
	height: 200px;
	background-color: royalblue;
	text-align: center;
	vertical-align: middle;
	background-repeat: repeat-x;
	margin: auto;
}
#botton1{
	margin-top: 63px;
}
