@charset "utf-8";
body {
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat;
	margin: 0;
}
#top{
	margin-top: 131px;
	
}
.button_blue
{
	display: inline-block;
	float: left;
	height: 41px;
	border-radius: 4px;
	background: #2795dc;
	border: none;
	cursor: pointer;
	border-bottom: 3px solid #0078b3;
*border-bottom:none;
	color: #fff;
	font-size: 16px;
	padding: 0 10px;
*width:140px;
	text-align: center;
	outline: none;
	font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;
	margin-left: 96px;
}
input.button_blue:hover
{
	background:#0081c1;
	border-bottom:3px solid #006698;*border-bottom:none;
	color:#fff;
	text-decoration:none;
}
